<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()' novalidate>
    <input type='text' name='username' ng-model='user.username' required>
    <input type="password" name='password' ng-model='user.password' required>
    <button ng-click='submitted=true'>signup</button>
    <div ng-messages='signupForm.username.$error'>
      <span class='error' ng-message='required'>Username is required</span>
    </div>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
